<nav>
  <ul>
    <li>
      <a href="">Import<span class="caret"></span></a>
      <div>
        <ul>
          <li><a href="/importers/new?model=category">Categories</a></li>
          <li><a href="/importers/new?model=product">Products</a></li>
        </ul>
      </div>
    </li>
  </ul>
</nav>